dj-database-url==0.5.0
Django==3.2.14
django-cors-headers==3.13.0
django-heroku==0.3.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
Pillow==9.1.1
psycopg2==2.9.3
python-dotenv==0.20.0
six==1.16.0
django-extensions
gunicorn==20.1.0