:root {
  --color1: #f1f1f1;
  --color2: #15202b;
  --color3: #1d9bf0;
  --color4: #1e2732;
  --color5: #CCCCCC;
}

footer {
  width: 100%;
  height: 100px;
  padding: 1rem;
  background-color: var(--color4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

footer .icons svg {
  width: 22px;
}