<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clone Twitter Template email</title>
</head>

<body style="
  width: 100%;
  padding: 2rem;
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 18px;
  background-color: #CCCCCC;
  color: #15202b;
  display: flex;
  justify-content: center;
  align-items: center;">

  <div style="
    width: 90%;
    margin: auto;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 2px #15202b;
    border-radius: 5px;">

    <div style="
    width: 50px;
    height: auto;
    margin: 8px auto;">
      <img style="
      width: 50px;
      text-align: center;
      margin: auto;"
        src="https://media4.giphy.com/media/SMKiEh9WDO6ze/giphy.gif?cid=ecf05e47lqah6q1iam1iazxtvur6jkvduab5ymzlz9q7h7ve&rid=giphy.gif&ct=g"
        alt="logo Twitter">
    </div>

    <h2 style="
      text-align: center;
      padding: 5px 5px 8px;">Votre compte a été créé et est prêt à être utilisé !</h2>

    <hr style="
      margin: 8px 0;">

    <p style="
      text-align: center;
      padding: 3px 5px;">Merci d'utiliser notre site !
    </p>

    <br>

    <p style="
      font-size: 15px;
      text-align: center;
      padding: 0 5px;">L'équipe du clone Twitter <br> <a style="
      text-align: center;
      margin: auto;
      text-decoration: none;
      color: #1d9bf0;
      " href="https://mack-twitter.pages.dev/">
        https://mack-twitter.pages.dev/.
      </a>
    </p>

  </div>
</body>

</html>