<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body style="
  width: 100%;
  padding: 2rem;
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 18px;
  background-color: #CCCCCC;
  color: #15202b;
  display: flex;
  justify-content: center;
  align-items: center;">

  <div style="
    width: 90%;
    margin: auto;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 2px #15202b;
    border-radius: 5px;">

    <div style="
    width: 50px;
    height: auto;
    margin: 8px auto;">
      <img style="width: 50px; text-align: center;margin: auto;"
        src="https://mack-twitter.pages.dev/static/img/logo192.png" alt="logo Twitter">
    </div>

    <h2 style="
      text-align: center;
      padding: 5px 5px 8px;">[Twitter Clone] Request password reset</h2>

    <hr style="
      margin: 8px 0;">

    <p style="
      text-align: center;
      padding: 3px 5px;">You are receiving this email because you requested a password reset for your Twitter Clone user account.
      <br>
      Please visit the following page and choose a new password:
    </p>

    <div style="
    display: flex;
    justify-content: center;
    margin: 5px auto;">
      <a style="
      padding: 8px 12px;
      text-align: center;
      margin: auto;
      text-decoration: none;
      background-color: #1d9bf0;
      color: #f1f1f1;
      border-radius: 5px;
      " href="{{domain}}/auth/user/reset/password/{{uid}}/{{token}}">
      Reset my password
      </a>
    </div>

    <p style="text-align: center;padding: 3px 5px;">
      If the above button does not work, please copy and paste this link into your browser: <br>
      <a style="text-align: center;
      margin: auto;
      text-decoration: none;
      color: #1d9bf0;" 
      href="{{domain}}/auth/user/reset/password/{{uid}}/{{token}}">
      {{domain}}/auth/user/reset/password/{{uid}}/{{token}}
      </a>
    </p>

    <p style="
      font-size: 16px;
      text-align: center;
      padding: 3px 5px;">Your username, in case you've forgotten it: <strong>{{user.email}}</strong>
    </p>

    <p style="
      font-size: 16px;
      text-align: center;
      padding: 0 5px;">
      You must complete this verification within 24 hours for your new account to remain active.
    </p>

    <p style="
      font-size: 16px;
      text-align: center;
      padding: 0 5px;">
      If you did not sign up for this service, please ignore this email.
    </p>

    <p style="
      font-size: 16px;
      text-align: center;
      padding: 0 5px;">If you encounter a problem, <a style="
      text-align: center;
      margin: auto;
      text-decoration: none;
      color: #1d9bf0;
      " href="https://github.com/Macktireh">
      please contact us.
      </a>
    </p>

    <p style="
      font-size: 15px;
      text-align: center;
      padding: 0 5px;">The Twitter clone team <br> <a style="
      text-align: center;
      margin: auto;
      text-decoration: none;
      color: #1d9bf0;
      " href="https://mack-twitter.pages.dev/">
        https://mack-twitter.pages.dev/.
      </a>
    </p>
  </div>
</body>

</html>