<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Macktireh Abdi Soubaneh" />
  <meta name="description" content="Twitter API clone built with Django recreates basic Twitter functionality, such as tweet creation, user tracking and feed display. The project uses the Django REST Framework to provide RESTful API endpoints, facilitating integration with front-end applications. Users can authenticate themselves, send tweets, like and retweet other users' messages." />
  <title>{% block title %} {% endblock title %}| Clone Twitter API</title>
  {% block style %} {% endblock style %}
</head>

<body>
  <!-- Header -->
  {% block header %} {% endblock header %}


  <!-- Main -->
  {% block content %} {% endblock content %}


  <!-- Footer -->
  {% block footer %} {% endblock footer %}


  <!-- Javascript -->
  {% block js %} {% endblock js %}
</body>

</html>