{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %} {% endblock title %}| Clone Twitter</title>
  {% block style %} {% endblock style %}
</head>

<body>
  <!-- Header -->
  {% block header %} {% endblock header %}


  <!-- Main -->
  {% block content %} {% endblock content %}


  <!-- Footer -->
  {% block footer %} {% endblock footer %}


  <!-- Javascript -->
  {% block js %} {% endblock js %}
</body>

</html>