:root {
  --color1: #f1f1f1;
  --color2: #15202b;
  --color3: #1d9bf0;
  --color4: #CCCCCC;
  
  --font: system-ui, -apple-system, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: var(--font);
  font-size: 16px;
  background-color: var(--color2);
  color: var(--color1);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

a:visited, a  {
  color: var(--color1);
  text-decoration: none;
}

input,
button {
  font-family: var(--font);
  color: var(--color1);
  font-size: 1rem;
  border: none;
  outline: none;
}