__pycache__/
*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.DS_Store
.git/
.github/
.gitignore
.sass-cache
.vagrant/
.env.example
__pycache__
.venv/
.vscode/
logs/
mediafiles/
data/
docker/local/
docker-compose.yml
db.sqlite3
Procfile
README.md
runtime.txt
vercel.json
build.sh
